.git-logo {
  width: 220px;
  height: 220px;
  background-color: #f35a39;
  border-radius: 25px;
  position: relative;
  transform: rotate(45deg);
}

.bar:nth-child(1) {
  width: 150px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 60px;
}

.bar:nth-child(2) {
  width: 100px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 95px;
  left: 58px;
  transform: rotate(45deg);
}

.circle {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.circle:nth-child(3) {
  top: 50px;
  left: 58px;
}

.circle:nth-child(4) {
  top: 50px;
  left: 125px;
}

.circle:nth-child(5) {
  top: 118px;
  left: 125px;
}
